<mat-card>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of allUsers; let i = index" routerLink="{{ '/user/' + user.ID }}">
                <td>{{ user.lastName }}, {{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>



<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User"
    matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>